@import "./base/settings";
@import "./base/base";
@import "./components/button";
@import "./components/nav";
@import "./components/hero";
@import "./components/certifications";
@import "./components/contact";

.container {
    padding: 70px 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1650px;

    .boxes {
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media (max-width: $menu-breakingpoint) {
            flex-direction: column;
            margin: 0 10%;
        }

        .box-container {
            width: 40%;

            @media (max-width: $menu-breakingpoint) {
                width: 100%;
                display: flex;
                flex-direction: column;
            }

            h1 {
                font-size: $font-size-large;
                word-wrap: break-word;

                @media (max-width: $menu-breakingpoint) {
                    text-align: center;
                }
            }

            ul {
                list-style: none;
                word-wrap: break-word;
                font-size: $font-size-medium;
            }
        }

        .carousel {
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
            border-radius: 15px;
            width: 700px;
            height: 530px;
            overflow: hidden;
            position: relative;

            @media (max-width: $menu-breakingpoint) {
                width: 300px;
                height: 265px;
            }

            .carousel-dots {
                position: absolute;
                bottom: 0;
                background-color: rgba(48, 48, 51, 0.7);
                width: 100%;

                ul {
                    align-items: center;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    transition: all 0.2s;
                    position: relative;
                    margin: 0;

                    li {
                        position: relative;
                        display: inline-block;
                        margin: 0 5px;
                        padding: 0;

                        &.small {
                            height: 0.7rem;
                            width: 0.7rem;
                        }

                        button {
                            background-color: $white;
                            border-radius: 50%;
                            border: none;
                            outline: none;
                            height: 1.3rem;
                            width: 1.3rem;

                            &.active {
                                background-color: $orange;
                            }
                        }
                    }
                }
            }

            .image-container {
                display: flex;
                transform: translateX(0);
                transition: transform 0.5s ease-in-out;

                img {
                    @media (max-width: $menu-breakingpoint) {
                        width: 300px;
                        height: 228px;
                    }

                    width: 700px;
                    height: 530px;
                    object-fit: cover;
                }
            }

            .arrow {
                position: absolute;
                top: 50%;
                display: none;
                margin: .5rem;
               

                &.previous {
                    left: 0;
                    transform: translateY(-50%);
                }

                &.next {
                    right: 0;
                    transform: translateY(-50%);
                }

                &.show {
                    display: block;
                }

                .btn {
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
                    background-color: $orange_opacity;
                    border: none;
                    border-radius: 50%;
                    color: #fff;
                    cursor: pointer;
                    font-family: inherit;
                    font-size: 2rem;
                    height: 5rem;
                    width: 5rem;
                }

                .btn:hover {
                    background-color: $orange;
                }

                .btn:focus {
                    outline: none;
                }
            }
        }
    }

    p {
        font-size: $font-size-small;
        line-height: 30px;
        letter-spacing: 0.1rem;
    }

    h2,
    h3 {
        font-size: $font-size-large;
        font-weight: 700;
        text-align: left; //maybe center? not sure

        @media (max-width: $menu-breakingpoint) {
            text-align: center;
        }
    }

    @media (max-width: $menu-breakingpoint) {
        padding: 50px 0;
    }

    &.aboutme {
        .aboutme--container {
            display: flex;
            justify-content: space-between;

            @media (max-width: $menu-breakingpoint) {
                flex-direction: column;
            }

            .aboutme--card {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    max-width: 250px;
                    border: none;
                    border-radius: 50%;
                    padding-bottom: 10px;
                    margin-right: 10px;

                    @media (max-width: $menu-breakingpoint) {
                        max-width: 230px;
                    }
                }

                p {
                    font-size: $font-size-small;
                    font-style: italic;

                    @media (max-width: $menu-breakingpoint) {
                        display: none;
                    }
                }
            }

            .aboutme--text {
                text-align: left;
                word-wrap: wrap;
                justify-content: center;
                margin: 0 0 15px 15px;

                h2 {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

    &.timeline {
        background-color: $blue;
        color: $white;
        width: 100%;

        .timeline--title,
        .timeline--subtitle {
            width: 80%;
            margin: 0 10%;
        }

        h1 {
            font-size: $font-size-large;
            font-weight: bold;
        }

        h2 {
            font-size: $font-size-medium;
            text-transform: uppercase;
            text-align: left;
            color: $white;
        }
    }

    &.content {
        width: 80%;
    }

    &.banner {
        .boxes {
            justify-content: center;
            margin-top: 2rem;

            .box-container {
                z-index: 99999;

                @media (max-width: $menu-breakingpoint) {
                    z-index: 0;
                }

                img {
                    @media (max-width: $menu-breakingpoint) {
                        display: none;
                    }
                }
            }
        }

        h2 {
            color: $white;
            text-align: center;
        }
    }

    &.learning {
        .boxes {
            .box-container {
                img {
                    @media (max-width: $menu-breakingpoint) {
                        width: 300px;
                    }
                }
            }
        }
    }
}

.project-wrapper {
    background-color: $gray;
    color: $white;
    width: 100%;

    &.bg-technology {
        background-image: url("/images/tech-background.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.item-check {
    display: inline-block;
    height: 12px;
    margin-right: 10px;
    position: relative;
    width: 12px;

    &::after {
        content: "";
        height: 10px;
        position: absolute;
        transform: scaleX(-1) rotate(135deg);
        width: 6px;
        border-right: 2px solid #fe4400;
        border-top: 2px solid #fe4400;
    }
}