@import "./base/settings";
@import "./base/base";
@import "./components/button";
@import "./components/nav";
@import "./components/hero";
@import "./components/certifications";
@import "./components/contact";
@import "./components/timeline";

.container {
    padding: 70px 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1650px;

    .boxes {
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media (max-width: $menu-breakingpoint) {
            flex-direction: column;
            margin: 0 10%;
        }

        .box-container {
            width: 40%;

            @media (max-width: $menu-breakingpoint) {
                width: 100%;
                display: flex;
                flex-direction: column;
            }

            h1 {
                font-size: $font-size-large;
                word-wrap: break-word;

                @media (max-width: $menu-breakingpoint) {
                    text-align: center;
                }
            }

            p {
                text-align: left;
                width: 100%;

                @media (max-width: $mobile-breakingpoint) {
                    text-align: justify;
                }
            }

            .circle {
                p {
                    width: auto;
                }
            }

            ul {
                list-style: none;
                word-wrap: break-word;
                font-size: 1.8rem;
                letter-spacing: 1px;

                @media (max-width: $menu-breakingpoint) {
                    font-size: $font-size-small;
                }

                @media (max-width: $mobile-breakingpoint) {
                    font-size: $font-size-small;
                }

                &.project-features {
                    list-style: circle;
                }
            }
        }

        .carousel {
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
            border-radius: 15px;
            width: 100%;
            max-width: 600px;
            height: 397px;
            overflow: hidden;
            position: relative;
            display: block;

            @media (max-width: 400px) {
                width: 300px;
                height: 265px;
            }

            .carousel-dots {
                position: absolute;
                bottom: 0;
                background-color: rgba(48, 48, 51, 0.7);
                width: 100%;

                ul {
                    align-items: center;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    transition: all 0.2s;
                    position: relative;
                    margin: 0;

                    li {
                        position: relative;
                        display: inline-block;
                        margin: 0 5px;
                        padding: 0;

                        &.small {
                            height: 0.7rem;
                            width: 0.7rem;
                        }

                        button {
                            background-color: $white;
                            border-radius: 50%;
                            border: none;
                            outline: none;
                            height: 1.3rem;
                            width: 1.3rem;

                            &.active {
                                background-color: $orange;
                            }
                        }
                    }
                }
            }

            .image-container {
                display: flex;
                transform: translateX(0);
                transition: transform 0.5s ease-in-out;
                height: 100%;

                img {
                    @media (max-width: 400px) {
                        width: 300px;
                        height: 228px;
                    }

                    max-width: 600px;
                    margin: auto;
                    display: block;
                    height: 100%;
                }
            }

            .arrow {
                position: absolute;
                top: 50%;
                margin: 0.5rem;
                transition: transform 0.2s ease-in-out;

                &.previous {
                    left: 0;
                    transform: translate(-110%, -50%);
                }

                &.next {
                    right: 0;
                    transform: translate(110%, -50%);
                }

                &.show {
                    transform: translateY(-50%) translateX(0);
                }

                .btn {
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
                    background-color: $orange_opacity;
                    border: none;
                    border-radius: 50%;
                    color: #fff;
                    cursor: pointer;
                    font-family: inherit;
                    font-size: 2rem;
                    height: 5rem;
                    width: 5rem;
                }

                .btn:hover {
                    background-color: $orange;
                }

                .btn:focus {
                    outline: none;
                }
            }
        }
    }

    p {
        font-size: $font-size-small;
        line-height: 30px;
        letter-spacing: 0.1rem;

        @media (max-width: $mobile-breakingpoint) {
            line-height: normal;
        }
    }

    h2,
    h3 {
        font-size: $font-size-large;
        font-weight: 700;
        text-align: left; //maybe center? not sure

        @media (max-width: $menu-breakingpoint) {
            text-align: center;
        }
    }

    @media (max-width: $menu-breakingpoint) {
        padding: 50px 0;
    }

    &.aboutme {
        .aboutme--container {
            display: flex;
            justify-content: space-between;

            @media (max-width: $menu-breakingpoint) {
                flex-direction: column;
            }

            .aboutme--card {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    max-width: 250px;
                    border: none;
                    border-radius: 50%;
                    padding-bottom: 10px;
                    margin-right: 10px;

                    @media (max-width: $menu-breakingpoint) {
                        max-width: 230px;
                    }
                }

                p {
                    font-size: $font-size-small;
                    font-style: italic;

                    @media (max-width: $menu-breakingpoint) {
                        display: none;
                    }
                }
            }

            .aboutme--text {
                text-align: left;
                word-wrap: wrap;
                justify-content: center;
                margin: 0 0 15px 15px;

                h2 {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

    &.timeline {
        width: 100%;

        .boxes {
            flex-direction: column;

            .box-container {
                width: 100%;
            }
        }
    }

    &.content {
        width: 80%;
    }

    &.banner {
        .boxes {
            justify-content: center;
            margin-top: 2rem;

            .box-container {
                margin-top: 25px;
                color: $white;

                @media (max-width: $menu-breakingpoint) {
                    z-index: 0;
                }

                img {

                    @media (max-width: $menu-breakingpoint) {
                        display: none;
                    }
                }
            }
        }
    }

    &.learning {
        .boxes {
            .box-container {
                @media (max-width: $menu-breakingpoint) {
                    align-items: center;
                }

                img {
                    @media (max-width: $menu-breakingpoint) {
                        width: 300px;
                    }
                }
            }
        }
    }

    &.github {
        background-color: $blue;
        color: $white;
    }

    &.about-me-timeline {
        height: 100%;

        @media (max-width: $menu-breakingpoint) {
            font-size: $font-size-small;
        }

        .boxes {
            flex-direction: column;

            @media (max-width: $menu-breakingpoint) {
                width: 100%;
                margin: 0;
            }

            .box-container {
                // margin: 2rem;
                padding: 2rem;
                display: flex;
                width: 100%;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                position: relative;

                h2 {
                    @media (max-width: $menu-breakingpoint) {
                        font-size: 2rem;
                    }
                }

                @media (max-width: $menu-breakingpoint) {
                    flex-direction: column;
                    font-size: $font-size-small;
                }

                &:nth-child(2n + 1) {
                    flex-direction: row-reverse;

                    .circle {
                        &:before {
                            content: "";
                            width: 2px;
                            height: 100%;
                            background: $white;
                            position: absolute;
                            top: 0%;
                            left: 50%;
                            right: auto;
                            transform: translateX(-50%);
                            animation: fillTop 2s forwards 4s ease-in-out;
                            z-index: -1;
                        }

                        &:after {
                            content: "";
                            width: 100%;
                            height: 2px;
                            background: $white;
                            position: absolute;
                            right: 0;
                            top: 50%;
                            left: auto;
                            z-index: -1;
                            transform: translateY(-50%);
                            animation: fillLeft 2s forwards 4s ease-in-out;
                        }
                    }
                }

                &:last-child {
                    .circle {
                        &:before {
                            content: none;
                        }
                    }
                }

                .read-more-details {
                    display: none;
                }

                .info {
                    background-color: $white;
                    border-radius: 2rem;
                    box-shadow: 20px 20px $text;
                    color: $text;
                    padding: 1.5rem;
                    position: relative;
                    width: 75%;
                    z-index: 5;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .read-more {
                        @media (max-width: $menu-breakingpoint) {
                            width: 100%;
                        }
                    }

                    @media (max-width: $menu-breakingpoint) {
                        width: 85%;
                    }

                    h2 {
                        @media (max-width: $menu-breakingpoint) {
                            font-size: $font-size-medium;
                        }
                    }

                    h3 {
                        font-size: 2rem;
                        text-align: left;
                        align-items: left;
                    }

                    p {
                        line-height: 3rem;

                        @media (max-width: $menu-breakingpoint) {
                            width: 85%;
                            font-size: $font-size-small;
                            line-height: normal;
                            width: 100%;
                            text-align: justify;
                        }
                    }

                    ul {
                        width: 100%;

                        li {
                            p {
                                padding: 0;
                            }
                        }

                        list-style: circle;
                    }

                    .year {
                        border-color: $blue;
                        border: 2px solid;
                        color: $blue;
                        border-radius: 2rem;
                        display: none;
                        padding: 1rem;
                        text-align: center;
                        font-weight: 700;
                        width: 100%;

                        @media (max-width: $menu-breakingpoint) {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.project-wrapper {
    background-color: $gray;
    color: $white;
    width: 100%;
    position: relative;
    z-index: 1;

    &.bg-white {
        background-color: $white;
        color: $text;
    }

    &.bg-blue {
        background-color: $blue;
    }

    &.reverse {
        .boxes {
            flex-direction: row-reverse;

            @media (max-width: $menu-breakingpoint) {
                flex-direction: column;
            }
        }
    }

    .box-container {
        @media (max-width: $menu-breakingpoint) {
            align-items: center;
        }
    }

    &.bg-technology {
        background-image: url("/images/tech-background.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.item-check-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;

    @media (max-width: $mobile-breakingpoint) {
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 0 10%;
    }

    ul {
        margin: 5px;
        width: 50%;

        @media (max-width: $menu-breakingpoint) {
            margin-bottom: 20px;
        }


        @media (max-width: $mobile-breakingpoint) {
            margin-bottom: 20px;
            width: 100%;
            padding: 0;

            &:first-child {
                margin-bottom: 0;
            }

            &:last-child {
                margin-top: 0;
            }

            li {
                font-size: $font-size-small;
            }
        }

    }
}

.item-check {
    display: inline-block;
    height: 12px;
    margin-right: 10px;
    position: relative;
    width: 12px;

    &::after {
        content: "";
        height: 10px;
        position: absolute;
        transform: scaleX(-1) rotate(135deg);
        width: 6px;
        border-right: 2px solid #fe4400;
        border-top: 2px solid #fe4400;
    }
}

.wrapper {
    width: 100%;

    &.bg-white {
        background-color: $white;
    }

    &.bg-blue {
        background-color: $blue;
    }
}

.quote {
    background-color: $white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    color: $text;
    width: 100%;
    padding: 100px;

    @media (max-width: $mobile-breakingpoint) {
        padding: 40px;
    }

    p {
        font-size: $font-size-medium;
        font-weight: 400;
        letter-spacing: 0.5rem;
        line-height: 2.5rem;

        strong {
            color: $blue;
        }

        &.author {
            text-align: right;
            font-style: italic;

            small {
                font-size: $font-size-small;
                text-align: right;
            }
        }
    }
}

.circle {
    background-color: $blue;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 0.5rem solid;
    display: flex;
    padding: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 4rem;

    @media (max-width: $menu-breakingpoint) {
        margin: 3rem;
        display: none;
    }

    &:before {
        content: "";
        width: 2px;
        height: 100%;
        background: $white;
        position: absolute;
        top: 0%;
        left: 50%;
        z-index: -1;
        transform: translateX(-50%);
        animation: fillTop 2s forwards 4s ease-in-out;
    }

    &:after {
        content: "";
        width: 100%;
        height: 2px;
        background: $white;
        position: absolute;
        left: 0%;
        top: 50%;
        z-index: -1;
        transform: translateY(-50%);
        animation: fillLeftOdd 2s forwards 4s ease-in-out;
    }

    &:hover {
        cursor: pointer;

        p {
            display: none;
        }

        .date-range {
            display: block;
            font-size: $font-size-medium;
        }
    }

    .date-range {
        display: none;
    }

    p {
        font-size: $font-size-large;
        font-weight: 700;
        letter-spacing: 0.3rem;
        width: auto;
    }

    &.white {
        border-color: $white;
        color: $white;

        &:hover {
            background-color: $blue_01;
        }
    }
}

.social {
    align-items: center;
    color: $white;
    display: flex;
    flex-direction: column;
    font-size: $font-size-medium;
    justify-content: center;
    margin: 0 2rem 0 1.5rem;
    position: absolute;
    right: 0;
    height: 25vh;
    z-index: 999999;

    @media (max-width: $menu-breakingpoint) {
        display: none;
    }

    span {
        margin: 0.8rem 0;

        a {
            cursor: pointer;
            color: $white;
            text-decoration: none;
            transition: color 400ms ease;

            &.current,
            &:hover {
                color: $orange;
            }
        }
    }
}

@keyframes fillLeft {
    100% {
        right: 100%;
    }
}

@keyframes fillTop {
    100% {
        top: 100%;
    }
}

@keyframes fillLeftOdd {
    100% {
        left: 100%;
    }
}

.modal {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 999999;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */

    &.active {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 100%;
    }

    .modal-content {
        border: 1px solid $blue;
        border-radius: 15px;
        background-color: $white;
        font-size: $font-size-small;
        color: $text;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;

        .dynamic-content {
            display: flex;
            justify-content: space-evenly;
            flex: 1 1 0px;

            div {
                width: 100%;
            }
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    }
}