@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');

* {
    box-sizing: border-box;
}

//rem
html{
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 50px;
    margin: 0 auto;
}

