// Paleta laranja
$orange: #FE4400;
$orange_01: #FC6027;
$orange_02: #FF0000;
$orange_opacity: rgba(254, 68, 0,0.5);

// Paleta Azul
$blue: #4B4FA1;
$blue_01: #414099;
$blue_02: rgba(75, 79, 161, 0.5);

$text: #303033;
$gray: #303033;
$white: #F3F4F9;

//Font Size
$font-size-large :3.2rem;
$font-size-small :1.6rem;
$font-size-xs :1.3rem;
$font-size-medium :2.2rem;

//Spacing 
$m-size: 1.8rem;
$l-size: 2rem;
$xl-size: 4.8rem;
$s-size: 1.2rem;
$xs-size: 0.8rem;

//Resolution
$menu-breakingpoint: 1229px
